<% if session.key? :current_user %>
		<%= image_tag session[:current_user][:image] %>
		<p class="name"><%= session[:current_user][:nickname] %></p>
		
	<%else%>
		<p>Please, sign in thought steam: </p>
		<%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %>
		
<% end %>
